NODE_ENV=development
APP_PORT=5000
APP_NAME='EmployeeHub'
API_PREFIX=api/v1
FRONTEND_DOMAIN=http://localhost:3005
BACKEND_DOMAIN=http://localhost:3000

DATABASE_URL=
DATABASE_NAME=employee-hub

# Support "local", "s3", "s3-presigned"
FILE_DRIVER=s3-presigned
S3_BUCKET_NAME=
S3_BUCKET_REGION=
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=

SEND_GRID_API_KEY=

AUTH_JWT_SECRET=secret
AUTH_JWT_TOKEN_EXPIRES_IN=8h
AUTH_FORGOT_SECRET=secret_for_forgot
AUTH_FORGOT_TOKEN_EXPIRES_IN=30m
AUTH_CONFIRM_EMAIL_SECRET=secret_for_confirm_email
AUTH_CONFIRM_EMAIL_TOKEN_EXPIRES_IN=1d
